body {
    background: rgb(247, 253, 255);
}

li {
    list-style: none;
}

/* title border */
.menu_header::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #f0a500;
    position: absolute;
    bottom: -10%;
    left: 43%;
}

/* header buttons */
.header_list li {
    border: 1px solid #f0a500;
    color: #f0a500;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.5s ease;
}

.header_list li:hover {
    background-color: #f0a500;
    color: #fff;
    transition: all 0.5s ease;
}

.menu_item {
    display: flex;
}

.menu_item img {
    width: 400px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    border: 3px solid #f0a500;
    border-radius: 10px;
}

.item_header h5 {
    letter-spacing: 3px;
    font-size: 17px;
}

.item_header p {
    color: #f0a500;
    letter-spacing: 3px;
}
